<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>


    <body>
        <div id="container">
            
    
            <div class="box-login">
                <h1>Criar seu cadastro</h1>
    
                <div class="box-account">
                    
                    <input type="text" name="Nome" id="nome" placeholder="Nome">
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                    <input type="text" name="password" id="senha" placeholder="Senha">
                    <input type="password" name="cpassword" id="senhaConfg" placeholder="Confirmar a senha">
    
                    
        
                    <a id="btn" onclick="valida()">Enviar</a> 
                </div>
            </div>
        </div>
    
        <a href="/">
            <div id="home">
                <img src="./images/user.png" alt="icone-usuário" title="fazer-login">
            </div>
        </a>
    
        <script src="./javascripts/validaCadastro.js"></script>



    
</body>
</html>