<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veloso</title>
    <link rel="stylesheet" href="./stylesheets/style.css">


    


</head>
<body>
    
    <div id="container">
        <div class="banner">
           
            
              
        </div>

        <div class="box-login">

            
            <h1>
                Já sou cliente
                
            </h1>
                
            <div class="box">
                <h2>faça o seu login agora</h2>
                <input type="text" name="nome" id="nome" placeholder="Nome">
                <input type="password" name="password" id="senha" placeholder="Senha">
                
                
                <button id="btn" onclick="logar()">Login</button>
                
                <a href="/cadastro">
                    <p>Criar uma conta</p>
                </a>

                <div class="social">
                    <img src="./images/facebook.png" alt="facebook">
                    <img src="./images/google.png" alt="google">
                    <img src="./images/twitter.png" alt="twitter">
                    <img src="./images/github.png" alt="github">
                </div>
            </div>
        </div>
    </div>







<script src="./javascripts/validaLogin.js"></script>



</body>
</html>